/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#root {
  margin: 0 auto;
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/bg-galaxia1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/bg-galaxia1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/bg-galaxia2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(/bg-galaxia3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg4{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(/bg-galaxia4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title{
  color: #FFFFFF;
  margin: 0;
  padding-top: 150px;
  text-shadow: 2px 4px #9F84C5;

}

.card-container{
  color: #25063F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card{
  width: 400px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.33) 100%);
  padding: 70px 33px;
  border-radius: 39px;
  z-index: 10;
}

.button{
  background-color: transparent;
  border: none;
  z-index: 10;
}

.author-card{
  position: relative;
}

.author-card img{
  position: absolute;
  max-height: 400px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}

.author-card span{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 0;
}